.img-container {
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    margin: 0 auto;
    padding: 0 auto;
    display: block;
    opacity: 1;
}

.img-container-hide {
    position: fixed;
    width: 70%;
    top: 10%;
    left: 15%;
    margin: 0 auto;
    padding: 0 auto;
    display: none;
    opacity: 0;
}

.img-container-hide img {
    width: 100%;
}

.img-container img {
    width: 100%;
}

.arrow{
    opacity: 0.5;
    position: fixed;
    top: 50%;
    right: 0%;
}
.arrow img{
    width: 100px;
    height: 100px;

}
.arrow:hover {
    opacity: 1;
}



.otherarrow{
    opacity: 0.5;
    position: fixed;
    top: 50%;
    left: 0%;
    transform: rotate(180deg);  
}
.otherarrow img{
    width: 100px;
    height: 100px;

}
.otherarrow:hover {
    opacity: 1;
}



.circle1 img {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 5%;
    left: 35%;
    opacity: 0.5;
}

.circle2 img {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 5%;
    left: 40%;
    opacity: 0.5;
}

.circle3 img {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 5%;
    left: 45%;
    opacity: 0.5;
}

.circle4 img {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 5%;
    left: 50%;
    opacity: 0.5;
}

.circle5 img {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 5%;
    left: 55%;
    opacity: 0.5;
}


:active.circle1 img {
    opacity: 1;
}

:active.circle2 img {
    opacity: 1;
}

:active.circle3 img {
    opacity: 1;
}

:active.circle4 img {
    opacity: 1;
}

:active.circle5 img {
    opacity: 1;
}

